* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Space Grotesk", sans-serif;
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	color: theme.$font-color;
}

#root {
	width: 100vw;
}
