.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0;
  }
  
  .imgNoAppointment {
    width: 39.208rem;
    /* max-width: 400px; */
    height: 28.875rem;
    margin-bottom: 20px;
  }
  
  .textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size:2rem;
    font-weight: bold;
    margin-top: 10%;
  }
  
  .description {
    font-size: 1.5rem;
    width: 32.625rem;
    height: 5.375rem;
    margin-bottom: 10%;
  }

.divBtn{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  /* .BtnVolverInicio{
    background-color: #008C73;
    border-color: #008C73;
    border-radius: 0;
    width: 25.875rem;
    height: 3rem;
    font-size: 1.5rem;
  } */


  .BtnVolverInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    background-color: #008C73;
    border-color: #008C73;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 25.875rem;
    height: 3rem;
  }
  


  
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }
  