.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
}

.imgNoAppointment {
  width: 39.208rem;
  max-width: 400px;
  height: 28.875rem;
  margin-bottom: 20px;
}

.textContainer {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10%;
}

.description {
  font-size: 1.5rem;
  width: 32.625rem;
  height: 5.375rem;
  margin-bottom: 20%;

  font-style: normal;
  font-weight: 400;

  font-style: normal;

  color: #000000;
}

.divBtn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BtnVolverInicio {
  background-color: #008c73;
  border-color: #008c73;
  border-radius: 4px;
  width: 25.875rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.BtnVolverInicio:hover {
    background-color:#008c73;
    border-color: #008c73;
  }

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
