.tarde{
    background-color: rgba(167, 60, 60, 0.36);
    width: 100vh;
}
.proximo{
    background-color: rgb(255, 252, 252);
    width: 100vh;
}
.atendido{
    background-color: rgb(129, 169, 145);
    width: 100vh;
}

.iconosCards{
width: 16px!important;
}