.home {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.mensajeBienvenida {
	padding: 2rem;
	height: 19.4rem;
	font-size: 4rem;
	font-weight: semibold;
}

.mensajeBienvenida p:nth-child(2) {
	font-size: 5rem;
}
