.home {
  width: 100%;
  overflow-x: hidden;
}

.home .welcomeSection .mensajeBienvenida {
  padding: 2rem;
}

.home .welcomeSection .mensajeBienvenida p:nth-child(1) {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.home .welcomeSection .mensajeBienvenida p:nth-child(2) {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 2.8rem;
  color: var(--green);
}
