.navbar{

        border-bottom: 0.001em solid rgb(110, 110, 110);

     height: 130%;
}
.txCategory{
    font-size: 1.3em;
    font-weight:500;
    color:#111;

}
.txCategory1{   
    font-size: 1.5em;
    font-weight:500;
    color: #111;
}

.txSubcategory{
    font-size: 1.2em;
    font-weight:400;
    color: #111;
}

